body {
	background: #fdf6e3;
}

#border {
	width: 800px;
	/*border: 1px solid #000000;*/
	margin: auto;
}

#intro {
	font-family: 'Open Sans', sans-serif;
	color: #b58900;
	font-size: 24px;
	position: relative;
	font-weight: 300;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color:#586e75;
	font-size: 100px;
	font-weight: 700;
	position: relative;
	line-height: 1.1;
}